body{
    background: url("background3.jpg") no-repeat fixed;
    background-size: cover;
}

.input-city-form,
.comments-form {
    display: flex;
}

.row {
    margin-right: 0;
    margin-left: 0;
    /* background: url("background3.jpg") no-repeat fixed;
    background-size: cover; */
}

.header {
    display: flex;
    justify-content: space-between;
}

.city-weather {
    box-shadow: 2px 1px 20px 1px black;
    margin: 25px;
    padding: 15px;
    /* background-color: #337ab7d1; */
    background-color: #ffffffa6;
    border-radius: 10px;
}

.city-temp-list {
    padding-left: 0px;
}

.remove-city-weather:hover {
    text-decoration: none;
}

.remove-city-weather {
    text-decoration: none;
    /* color: red; */
    color: #da0505;
    font-size: 17px;
}

.fa-trash{
    font-size: 25px;
    padding-top: 16px;
}

.comments-list{
    margin-bottom: 15px;
    border-radius: 10px;
    padding-left: 0px;
}

.errorMsg{
      /* color: red; */
      color:white;
    font-size:20px;
    margin-left: 50px;
    margin-top: 20px;
}

 .load{
    margin-left: 266px; 
    margin-top: 25px;
    margin-bottom: 12px;
    mix-blend-mode: multiply;
 }

.errorMsgComm{
    color: red;
    margin-left: 13px;
    margin-top: 7px;
    display: none;
}

.temp-date{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1.5em;
}

.comment{
    line-height: 20px;
    border-radius: 6px;
    font-style: italic;
      /* background-color: #F5F6C9; */
    /* background-color: #1568e5ba; */
    background-color: rgba(7, 26, 119, 0.64);
    color: white;
}

h1{
    color: white;
    font-weight: bold;
    font-family: arial;
    text-shadow: 0 0 15px black;
}

.fa-comments-o{
    padding-right: 10px;
    padding-left: 5px;
}

.btn-primary {
    color: #fff;
    background-color: #053661c2;
    border-color: #d5e7f7c9;
}

.li-comment{
    box-shadow: inset 0 0 8px 0px black;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 15px;
    background: #ffffffad;
}

.list{
    padding-left: 0px;
}
/*******autocomplete********/
.autocomplete
/* , .input-city-form */
{
    /*the container must be positioned relative:*/
    position: relative;
    width: 570px;
    /* display: inline-block; */
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9; 
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }



  /*** confirm ***/
  #confirmBox
{
    display: none;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #aaa;
    position: fixed;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    top:0;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}
#confirmBox button {
    background-color: #ccc;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 2px;
    text-align: center;
    width: 80px;
    cursor: pointer;
}
#confirmBox button:hover
{
    background-color: #ddd;
}
#confirmBox .message
{
    text-align: left;
    margin-bottom: 8px;
}