.input-city-form,
.comments-form {
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
}

.city-weather {
    box-shadow: 2px 1px 20px 1px black;
    margin: 25px;
    padding: 15px;
    background-color: #337ab7d1;
    border-radius: 10px;
}

.city-temp-list {
    padding-left: 0px;
}

.remove-city-weather:hover {
    text-decoration: none;
}

.remove-city-weather {
    text-decoration: none;
    color: red;
    font-size: 17px;
}

.fa-trash{
    font-size: 25px;
    padding-top: 16px;
}

.comments-list{
    margin-bottom: 15px;
    border-radius: 10px;
    padding-left: 0px;
}

.errorMsg{
    color:red;
    font-size:25px;
    margin-left: 50px;
    margin-top: 20px;
}

 .load{
    margin-left: 266px; 
    margin-top: 25px;
    margin-bottom: 12px;
 }

.errorMsgComm{
    color: red;
    margin-left: 13px;
    margin-top: 7px;
    display: none;
}

.temp-date{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1.5em;
}

.comment{
    line-height: 20px;
    background-color: #F5F6C9;
    border-radius: 6px;
    font-style: italic;
}


.fa-comments-o{
padding-right: 10px;
}


/******/


.autocomplete, 
.input-city-form{
    /*the container must be positioned relative:*/
    position: relative;
    /* display: inline-block; */
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9; 
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }